@using EccomerceWeb.Models;
@{
    ViewBag.Title = "ShoppingCartIndex";
}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>SHOPPING CART</h2>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!--================Cart Area =================-->
<section class="cart_area section_padding">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                @{
                    if (Session["Cart"] != null)
                    {
                        using (Html.BeginForm("UpdateCart", "ShoppingCart", FormMethod.Post))
                        {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var cart in (List<Cart>)Session["Cart"])
                                {
                                    <tr>
                                        <td>
                                            <div class="media">
                                                <div class="d-flex">
                                                    <img src="@cart.Product.ImagePath" alt="" />
                                                </div>
                                                <div class="media-body" style="width:500px;">
                                                    <a href="@Url.Action("Details", "Product", new { id = cart.Product.ProductID }, null)">@cart.Product.Name</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h5>
                                                $@(String.Format("{0:N0}", cart.Product.Price))
                                            </h5>
                                        </td>
                                        <td>
                                            <div class="product_count">

                                                @*<span class="input-number-decrement"> <i class="ti-minus"></i></span>*@
                                                <input name="quantity" class="input-number" type="text" value=@cart.Quantity min="0" max="10"><span id="errmsg"></span>
                                                @*<span class="input-number-increment"> <i class="ti-plus"></i></span>*@
                                            </div>
                                        </td>
                                        <td>
                                            <h5>$@(String.Format("{0:N0}", cart.Product.Price * cart.Quantity))</h5>
                                        </td>
                                        <td>
                                            @Html.ActionLink("Delete", "Delete", "ShoppingCart", new { id = cart.Product.ProductID }, new { onclick = "return confirm ('Are you sure you want to delete this?');" })
                                        </td>
                                    </tr>

                                }
                                <tr class="bottom_button">
                                    <td>
                                    <input type="submit" value="Update Cart" class="btn_1" />
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <h5>Subtotal</h5>
                                    </td>
                                    <td>
                                        @{
                                            var temp = (List<Cart>)Session["Cart"];
                                            var total = temp.Sum(x => x.Quantity * x.Product.Price);
                                        }
                                        <h5>$@Math.Round(total, 2)</h5>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        }
                    }
                    else
                    { <h2> No items in your cart !!!</h2>

                    }
                }
                <div class="checkout_btn_inner float-right">
                    <a class="btn_1" href='@Url.Action("Index","Product")'>Continue Shopping</a>
                    <a class="btn_1 checkout_btn_1" href="@Url.Action("CheckOut","ShoppingCart")">Proceed to checkout</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--================End Cart Area =================-->
<script type="text/javascript">
    $(document).ready(function () {
        // called when key is pressed in textbox
        $(".input-number").keypress(function (e) {
            // if the letter is not a digit w will display error message
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                // Display error message
                $("#errmsg").html("Enter digits only!").show();
                return false;
            }
        });
    });

</script>